body{
    margin: 0;
    /*background-color: #e9e9e9;*/
}

.CPP{
    margin: 0px;
    padding: 0px;
    border: none;
}
.CPPSHead {
    width: 100%;
    border: none;
    margin: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
}

.heightCPP01 {
    height: 387px;
}
.heightCPP02 {
    position: relative;
    top: -4px;
    height: 80px;
}