body{
	font-family: Sigmar One; 
	src: url(https://fonts.google.com/specimen/Sigmar+One);
	src: url(https://fonts.google.com/specimen/Sigmar+One#iefix) 
           format(embedded-opentype),
      url(https://fonts.google.com/specimen/Sigmar+One) 
           format(ttf), 
      url(https://fonts.google.com/specimen/Sigmar+One) 
           format(ttf);
}