
body {
    margin: 0/*1.7%*/;
    background-color: var(--BGblack);
    /*#817059*/
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0); 
  }
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #27AE60;
    border-radius: 5px;
  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3cc41a; 
  }



.Main-div {
    /* Im prinziep nutzlos wegen neuen Design! (kann auch weggelassen werden)*/
    width: auto;
    height: auto;
    border-radius: 15px;
    background-color: #212C3B;
    /*box-shadow: 0px 0px 12px 5px #495657;*/ 
    transition: all 0.19s ease-in-out;
    /**/
}


.HeaderContainer {
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: rgb(39, 39, 39);
    text-align: center;
    justify-content: center;
}

.HeaderNavBar {
    width: auto;
    height: 60px;
    background-color: #000000;
}


.TitleCP {
    padding: 10px;
}
.headerlinkcp {
    color: #D5D5D5;
    font-size: 50px;
    font-family: ;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px rgb(0, 0, 0);
}


.yvpictureheadcpp {
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto;
    background-color: rgb(32, 32, 32);
    background-image: url(pictures/ybackfire1001.svg);
    padding: 2%;
}

.PictureyvCCpH {
    width: 10%;
    height: auto;

}

.firepicture0001 {
    
    position: absolute;
    left: -2%;
    bottom: -2%;
    width: 30%;
    height: auto;
    z-index: 10;
}

.firepicture0002 {
    
    position: absolute;
    bottom: -11%;
    left: 20%;
    width: 45%;
    height: auto;
    z-index: 10;
}

.firepicture0003 {
    position: absolute;
    right: -2.5%;
    bottom: -11%;
    width: 50%;
    height: auto;
    z-index: 10;
}

.HeadertextYVCenterbottomid999982 {
    position: relative;
    margin: auto;
    width: auto;
    top: -20px;
    font-size: 45px;
    font-family: ;
    font-weight: bold;
    color: #D5D5D5;
    text-shadow: 0px 5px 0px #1b7a43/*#27AE60*//*rgba(255, 208, 0, 0.288)*/;
    z-index: 20;
}
.ttect92429474942742943 {
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.322);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.322);
}

.vvcpppid8293 {
    font-size: 40px;
}

.menüstylecontaineryvisionnavbarid82911 {
    display: flex;
    padding: 20px;
    width: auto;
    height: 200px;
    background-color: #0a0a0a/*#0a0a0a*/;
}


.Mblockid2414 {
    position: relative; 
    height: 200px;
    width: 40%;
    background-color: #000000;
    overflow: hidden; 
    
}

.Mblockid2414:before { 
    content: ''; 
    position: absolute; 
    top: -20px;
    left: -60px; 
    width: 80px; 
    height: 300px; 
    background: #0a0a0a; 
    
    transform: rotate(8deg);
}
.Mblockid2414:after { 
    content: ''; 
    position: absolute; 
    top: -20px;
    right: -55px; 
    width: 80px; 
    height: 300px; 
    background: #0a0a0a; 
  
    transform: rotate(8deg);
}

.Mblocktext7293 {
    padding: 10px;
    font-size: 40px;
    font-family: ;
    font-weight: bold;
    color: #D5D5D5;
}

.linktextmenueid713022p {
    color: #D5D5D5;
    text-decoration: none;
}


.blocktextlinkdesciption9932131 {
    position: relative;
    margin: auto;
    height: auto;
    width: 80%;
    justify-content: center;
    color: #D5D5D5;
}

.linkpositioniereid01442345453243 {
    position: relative;
    top: 30px;
}

.linkbuttonlinkccppid8822234 {
    text-decoration: none;
    color: #D5D5D5;
}


.linkbuttonid827042201 {
    position: relative;
    top: 5px;
    padding: 12px;
    height: auto;
    width: auto;
    background-color: var(--HIGTLIGHTGREEN)/*#27AE60*/;
    border-radius: 15px;
    color: #D5D5D5;
    text-decoration: underline #D5D5D5;
    font-size: 20px;
    font-family: ;
    font-weight: 700;
    transition: all 0.19s ease-in-out;
}

.linkbuttonid827042201:hover {
    background-color: rgb(212, 136, 21);
    color: rgb(61, 43, 43);
}

/*SALE shopping-AD link wenn nötig!*/

.YVISION-ORANGE-AD-TextID9991424334 {
    position: relative;
    display: block;
    padding: 6px;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
    font-family: ;
    font-weight: bold;
    color: #D5D5D5/*rgb(212, 212, 212)*/;
    background-color: #128865/*rgb(189, 95, 8)*/;
    transition: all 0.19s ease-in-out;
}

.linkshop3121446 {
    color: rgb(212, 212, 212);
}
.linkshop3121446:hover {
    color: rgb(207, 255, 32);
}

/*Ende shop verlinkung*/


/* Ende Header*/

/*Anfang Body:*/

.bodyYMAINcontainerPage {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: rgb(24, 24, 24);
    color: rgb(216, 216, 216);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.BIGTEXTcppid556231 {
    padding: 10px;
    font-size: 50px;
    font-family: ;
    font-weight: bold;
    color: rgb(216, 216, 216);
    text-align: center;
    transition: all 0.19s ease-in-out;
}

.SpacecontainerPARANTvision {
    position: relative;
    padding: 10px;
    width: auto;
    height: 500px;
    background-color: rgb(24, 24, 24);
    transition: all 0.19s ease-in-out;
    /*space: rgb(8, 7, 27), normal: rgb(24, 24, 24)*/
}

.SpaceGameReveal {
    position: relative;
    margin: auto;
    display: none;
    top: 15%;
    height: auto;
    width: 30%;
    border-radius: 25px;
    text-align: center;
    padding: 15px;
    font-size: 30px;
    font-family: ;
    font-weight: 800;
    background-color: rgb(35, 99, 15);
    box-shadow: 0px 0px 8px 2px rgb(35, 99, 15);
    color: rgb(209, 209, 209); 
    transform: rotate(-2.5deg);
    transition: all 0.19s ease-in-out;
}

.SpaceGametext8831242 {
    position: relative;
    margin: auto;
    padding: 10px;
    width: 85%;
    text-align: justify;
    justify-content: center;
    font-size: 17px;
    font-family: ;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 20px;
}

.linkbuttonsapcegameyv4271435253798523132 {
    position: relative;
    margin-top: 3%;
}

.SpaceGameButton8882142142 {
    
    padding: 8px;
    height: auto;
    width: auto;
    background-color: rgb(136, 119, 26);
    border-radius: 15px;
    color: white;
    font-size: 25px;
    font-family: ;
    font-weight: 500;
}
.SpaceGameButton8882142142:hover {
    background-color: rgb(107, 94, 21);
    color: rgb(230, 192, 192);
}