:root {
    --BGblack: #202023;
    --TransparentBGblack: rgba(48, 48, 51, 0.637);
    --GBlackGray: #0a0a0a;

    --NotLoading: rgb(61, 61, 61);
    --NotLoadingT:rgba(66, 66, 66, 0.774);


/*Text*/
    --WHITETEXT: ;
    --NormalTextWG: #D5D5D5;
    --RotWeissGrau: #dbb5b5;


/*GREEN*/
    --YGREEN: ;
    --AKTZENTGREEN: #3cc41a;
    --DARKGREEN: ;
    --GRAYGREEN: ;
    --HIGTLIGHTGREEN: #10a10b;
    --BGGREEN: ;
}