:root {
    --BGblack: #202023;
    --GBlackGray: #0a0a0a;


/*Text*/
    --WHITETEXT: ;
    --NormalTextWG: #D5D5D5;
    --RotWeissGrau: #dbb5b5;


/*GREEN*/
    --YGREEN: ;
    --AKTZENTGREEN: ;
    --DARKGREEN: ;
    --GRAYGREEN: ;
    --HIGTLIGHTGREEN: #10a10b;
    --BGGREEN: ;

}