@media screen and (max-width: 700px/*294px*/) {

    .PictureyvCCpH {
        width: 30%;
    }


    .menüstylecontaineryvisionnavbarid82911 {
        position: relative;
        display: block;
        height: auto;
        width: auto;
    }

    .Mblockid2414 {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        height: auto;
    }

}

/*bitte noch 360px*/
/*bitte um 768px fixen*/

/*normal ansicht ab 1157px!*/