:root {
    /*Versionen hier Angeben/Ändern!*/
    --WEBVERSION: "9d28h28e10f5.1v";
    --VERSIONINT: "001.4";
    --UPDATE: "31.03.2024";

    --COPYRIGHT: "24/25";

}

/*VARIABLE UPDATE NUMMERN in HTML anzeigen!*/
.YWEBversion::before {
    content: var(--WEBVERSION);
}
.versionINT::before {
    content: var(--VERSIONINT);
}
.Update::before {
    content: var(--UPDATE);
}
.copyright::before {
    content: var(--COPYRIGHT);
}